<h4 class="text-center">Registre-se e mostre seu pet para o mundo!</h4>
<form class="form mt-4" [formGroup]="novoUsuarioForm" (submit)="cadastrarUmNovoUsuario()">
  <div class="form-group mb-3">
    <input type="text" placeholder="Nome Completo" class="form-control" formControlName="fullName">
    <app-mensagem
      *ngIf="novoUsuarioForm.get('fullName')?.errors && novoUsuarioForm.get('fullName')?.touched"
      mensagem="Nome obrigatório"></app-mensagem>
  </div>

  <div class="form-group mb-3">
    <input placeholder="e-mail" type="email" class="form-control" formControlName="email" />
    <app-mensagem
      *ngIf="novoUsuarioForm.get('email')?.errors?.required && novoUsuarioForm.get('email')?.touched"
      mensagem="E-mail obrigatório"></app-mensagem>
    <app-mensagem
    *ngIf="novoUsuarioForm.get('email')?.errors?.email && novoUsuarioForm.get('email')?.touched"
    mensagem="E-mail com formato incorreto"></app-mensagem>
  </div>

  <div class="form-group mb-3">
    <input placeholder="Usuário" class="form-control" formControlName="userName" />
  </div>
  <app-mensagem
    *ngIf="novoUsuarioForm.get('userName')?.errors?.minusculo && novoUsuarioForm.get('userName')?.touched"
    mensagem="Usuário deve conter apenas caracteres minúsculos"></app-mensagem>

  <app-mensagem
    *ngIf="novoUsuarioForm.get('userName')?.errors?.usuarioExistente && novoUsuarioForm.get('userName')?.touched"
    mensagem="Usuário já existe"></app-mensagem>

  <div class="form-group mb-3">
    <input type="password" placeholder="Senha" class="form-control" formControlName="password">
  </div>
  <app-mensagem *ngIf="novoUsuarioForm.errors?.senhaIgualUsuario"
  mensagem="Senha deve ser diferente do usuário"></app-mensagem>

  <button t class="btn btn-primary col-4 text-center mt-1">Cadastro</button>

</form>

<p class="mt-2"> Já é um usuário?<a [routerLink]="['']"> Faça o login!</a> </p>
